// Color Configurations + Matches Crisp Colors

// $color-accent: #51788F; // Blue (Grey)
// $color-accent: #469DD9; // Blue (Light)
$color-accent: #D23725; // Red
// $color-accent: #48A0B1; // Cyan
// $color-accent: #41927D; // Teal
// $color-accent: #52A340; // Green
// $color-accent: #DC702B; // Orange 

$color-white: #ffffff;
$color-black: #000000;
$color-dark-grey: #333333;
$color-neutral-grey: #535358;
$color-light-grey: #f9f9fb;